body {
    background-color: #FDFDFD;
    color: #333333;
    font-family: Georgia,serif;
    font-size: 13px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
html > body {
    font-size: 13px;
}
a {
    color: #DE745F;
    text-shadow: none;
}
ol, ul {
    list-style-position: outside;
    margin: 1.5em 0;
    padding-left: 3em;
}
ol {
    list-style-type: decimal;
    margin-left: 0;
}
ul {
    list-style-type: circle;
}
h1 {
    color: #000000;
}
h2, h3, h4, h5 {
    color: #333333;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: 400;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
p {
    margin: 1.5em 0;
}
sup {
    font-size: 0.8em;
    position: relative;
    top: -0.4em;
}
sub {
    bottom: -0.4em;
    font-size: 0.6em;
    position: relative;
}
#content {
    margin: 1em auto 0;
    max-width: 50em;
    padding: 0 0.5em;
    text-align: left;
}
strong {
    font-weight: bold;
}
#headbar {
    background-color: #EEEEEE;
    border-top: 3px solid #000000;
    color: #000000;
    font-family: sans-serif;
    font-size: 11px;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 100%;
}
#headbar a {
    color: #000000;
}
#headbar a:hover {
    text-decoration: none;
}
.breadcrumbs {
    color: #000000;
    display: block;
    float: left;
    padding: 0.5em 1em;
    width: 400px;
}

#gridmaker input {
    width: 4.5em;
}
button:hover, button.active, #life label.active[for="pause"] {
    background-color: #C89C97;
    border-color: #82605B #B18781 #CAA8A4;
}
#home #content, #page-not-found #content {
    max-width: 33em;
}
#page-not-found form {
    width: 60%;
}
#page-not-found input {
    width: 100%;
}
#page-not-found button {
    margin-top: 0.25em;
    padding: 0 1em;
}
.honey {
    display: none;
}
#resume dt, #resume dd {
    display: block;
    float: left;
    margin: 0;
}
#resume dt {
    width: 22%;
}
#resume dd {
    margin-left: 2%;
    width: 73.9%;
}
#resume dd ul {
    margin-top: 0;
}
#footer {
    background: none repeat scroll 0 0 #EEEEEE;
    bottom: 0;
    clear: both;
    color: #FFFFFF;
    font-size: 10px;
    position: absolute;
    width: 100%;
}
#copyright {
    color: #333333;
}
